#registrationPopup
{
    position:absolute;
    left: 10%;
    top: 2%;
    width: 75%;
    display: none;
    border: 1px solid #000;
    border-radius: 5px;
    background: #333;
    text-align: center;
    box-shadow: 0px 0px 0px 2000px rgba(0,0,0,0.7);
}

#registrationBox h1
{
    color: #337ab7;
}
#registrationBox
{

    box-shadow: 1px 0px 0px #555;
    border-right: 2px solid #222;
    z-index: 4444;
}
#regInfo
{
    color: #ddd;
    font-weight: bold;
    text-align: center;

}
#regInfo h2, #login_container h2
{
    color: #337ab7;
}
#serverResponse h3
{
    color: #337ab7;
    margin-bottom: 0.5em;
    text-align: center;
}
#regInfo ul
{
    list-style: none;
}
#regBtn,.submit_input
{
    background: #222;
    border: 1px solid #111;
    color:#ffA200;
    margin-bottom: 2em;
    text-shadow: none;
}
a[class^="closeBtn"]
{
    font-weight: bold;
    font-size: 2em;
    color: #222;
    text-shadow: 1px 1px 0px #444;
    position: absolute;
    right: 2%;
    top: 1%;
    text-decoration: none;
    cursor: pointer;
}

#registrationBox input[type="password"],#login_container input[type="password"],#registrationBox input[type="text"],#registrationBox input[type="email"],#login_container input[type="email"],#registrationBox input[type="date"]
{
    border:0;
    outline: 0;
    background: transparent;
    border-bottom: 0.1em solid #ffa200;

    margin: 1.5em 0;
    text-align: center;
    line-height: 1.2em;
    color: #aaa;
    width: 100%;

    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    transition: all 1000ms;

}
#registrationBox input[type=text]:focus,#registrationBox input[type="password"]:focus,#login_container input[type="password"]:focus,#registrationBox input[type="email"]:focus,#login_container input[type="email"]:focus,#registrationBox input[type="date"]:focus
{
    border-bottom: solid 2px #ffa200;
    -webkit-transform: scaleX(1.5);
    -ms-transform: scaleX(1.5);
    transform: scaleX(1.5);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;

}
hr{
    box-shadow: 1px 1px 0 #555;
    border: 1px solid #222;
    width:84%;
}
#serverResponse
{
    position: fixed;
    width: 30%;
    left:35%;
    top:20%;
    background: #333;
    z-index: 69999;
    padding: 2em;
    border: 1px solid #000;
    border-radius: 5px;
    display:none;
    box-shadow: 0px 0px 0px 2000px rgba(0,0,0,0.7);
}
#msgBox
{
    text-align: center;
}
#msgBox p:before
{
    content: '> ';
    font-weight: bold;
    font-size: 1.5em;
}


/*Login Container*/
#login_container
{
    width:30%;
    position: absolute;
    top:5%;
    left:65%;
    display:none;
    background: #333;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2000px rgba(0,0,0,0.7);
    padding: 0.5em;
    text-align: center;
}